@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,300;0,700;1,300;1,400;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100vh;
    font-family:"Montserrat", "Sans Serif" ;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*HEADER*/

header{
    background-color: #272b29;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul {
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: #35aee6;
}

header .container img{
    height: 40px;
}

#checkbox-menu {
    display: none;
}

/*MAIN*/
main{
    margin-bottom: 100px;
}

main .container-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    margin:100px auto 0px auto;
}

h2{
    color:#3F4643;
    font-size: 45px;
    line-height: 50px;
    font-weight: bold;
}
#news {
    color: #35aee6;
}
h3{
     color: #737373;
     font-size: 20px;
     line-height: 28px;
     margin: 10px 0;
}

form {
     margin-top: 20px;
}

form input{
     width: 380px;
     padding: 15px;
     font-size: 18px;
     height: 45px;
     margin-bottom: 13px;
     border-radius: 20px;
     border: 2px solid #3F4643;
}

form [type="submit"]{
     background-color: #3F4643;
     color: white;
}

form [type="submit"]:hover{
    cursor: pointer;
    background-color: #35aee6;
    color: #272b29;
    border: 1px solid #35aee6;
}

main .container-main img{
     width: 600px;
}

 /*CADS*/

.cards{
     width: 90%;
     max-width: 980px;
     display:grid;
     grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
     grid-gap:20px;
     
}

.text--medium {
     font-size:16px;
     line-height: 26px;
     font-weight:400 ;
     color:#737373;
}

.card {
     display: flex;
     flex-direction: column;
     cursor: pointer;
     box-shadow: 5px 5px 15px -4px black;
     transition: all 0.3s ease 0s;
}

.card:hover {
     transform: translateY(-7px);
}

.image {
     width: 100%;
     padding-top: 56.25%;
     overflow: hidden;
     position: relative;
}

.image img {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    margin: px;
}

.title {
    margin-bottom:0 ;
}

/*contato*/
#form1 {
    min-height: 100vh;
    width: 100%;
    background-color: #35aee6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desafio{
    width: 85%;
    background: white;
    border-radius: 5px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.desafio .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.desafio .left-side::before {
    content: " ";
    position: absolute;
    height: 70%;
    width: 2px;
    height: -15;
    top: 50%;
    transform:translateY(-50%);
    background:transparent;
}

.desafio .left-side .details {
    margin: 14px;
    text-align: center;
}

.desafio .left-side .details i {
    font-size: 30px;
    color: #35aee6;
    margin-bottom: 10px;
}

.desafio .left-side .details .topic {
    font-size:18px ;
    font: weight 500px;
}

.desafio .left-side .details .text-one,
.desafio .left-side .details .text-two{
    font-size: 14px;
    color: #272b29;
}

.desafio .right-side{
    width: 75%;
    margin-left: 75px;
}

.desafio .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: black;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box{
    min-height: 110px;
}

.right-side .input-box textarea{
    padding-top: 6px;
}

.right-side .button{
    display: inline-block;
    margin-top: 12px;
}
.right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    background: #272b29;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="button"]:hover{
    background: #35aee6;
}